<div class="card text-start bg-primary-subtle m-2">
  <div class="card-header">
    Quên Mật Khẩu
  </div>
  <div class="card-body">
    <form class="fst-italic m-3" name="frmquenpass">
      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" name="email" ng-model="email" class="form-control" id="email">
      </div>
    </form>
  </div>
  <div class="card-footer text-body-secondary">
    <button type="button" ng-click="quenpass()" class="btn btn-primary m-2">Lấy lại mật khẩu</button>
    <a href="#!dangnhap" class="text-decoration">Quay lại Đăng nhập</a>
  </div>
</div>